/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/web/css/compiled/*
!web/css/compiled/.gitkeep
/web/js/compiled/*
!web/js/compiled/.gitkeep
/web/uploaded/*
!web/uploaded/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/vagrant/.vagrant

/web/assets/compiled
/node_modules
/web/assets/vendor
/web/assets/css
!web/assets/css/README.txt